<aside class="left-sidebar">
    <div class="scroll-sidebar" style="padding-top: 0px !important">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li [class.active]="showMenu === 'starter'">
                    <a routerLink="/starter" (click)="addExpandClass('starter')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-file"></i><span class="hide-menu">Event Management</span></a>
                </li>
                <li>
                    <a routerLink="/component/accordion" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-equal"></i><span class="hide-menu">Event Hub</span></a>
                </li>
                <li>
                    <a routerLink="/component/alert" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-message-bulleted"></i><span class="hide-menu">Decorations</span></a>
                </li>
                <li>
                    <a routerLink="/component/carousel" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Camera & Video</span></a>
                </li>
                <li>
                    <a routerLink="/component/dropdown" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Food & Beverages</span></a>
                </li>
                <li>
                    <a routerLink="/component/modal" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-tablet"></i><span class="hide-menu">Travels</span></a>
                </li>
                <li>
                    <a routerLink="/component/pagination" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-backburger"></i><span class="hide-menu">Entrtainment</span></a>
                </li>
                <li>
                    <a routerLink="/component/poptool" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-image-filter-vintage"></i><span class="hide-menu">services</span></a>
                </li>
                <!-- <li>
                    <a routerLink="/component/progressbar" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-poll"></i><span class="hide-menu">Progressbar</span></a>
                </li>
                <li>
                    <a routerLink="/component/rating" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-bandcamp"></i><span class="hide-menu">Ratings</span></a>
                </li>
                <li>
                    <a routerLink="/component/tabs" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-sort-variant"></i><span class="hide-menu">Tabs</span></a>
                </li>
                <li>
                    <a routerLink="/component/timepicker" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-calendar-clock"></i><span class="hide-menu">Timepicker</span></a>
                </li>
                <li>
                    <a routerLink="/component/buttons" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-blur-radial"></i><span class="hide-menu">Button</span></a>
                </li>
                <li>
                    <a routerLink="/component/cards" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-arrange-bring-forward"></i><span class="hide-menu">Card</span></a>
                </li>
                <li class="m-t-40 p-20">
                    <a href="https://wrappixel.com/templates/monster-angular-dashboard/" target="_blank" class="btn hidden-sm-down btn-success text-white">Upgrade
                        To Pro</a>
                </li> -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>