<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" style="text-align: left !important">
            <a class="navbar-brand" style="margin-left: 20px;" href="#">
                <b>
                    <img src="../../../assets/images/tempLogo.png" style="height: 50px; margin-right:5px;" alt="homepage" class="dark-logo" />
                </b>
                <span class="dark-logo" style="font-size: 30px;vertical-align: sub;">
                    Evento
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-lg-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            </ul>
        </div> 
    </nav>
</header>